{% extends 'base.html' %}

{% block title %}
    {{ spare_part.title }}
{% endblock %}


{% block content_title %}
    {{ spare_part.title }}
{% endblock %}


{% block content %}
    <div class="tags">
        {% for tag in tags %}
            <a href="{{ url_for('spare_parts.tag_detail', slug=tag.slug) }}">
                <span class="label label-primary">{{ tag.name }}</span>
            </a>
        {% endfor %}
    </div>

    <div class="main-content">
        {{ spare_part.description if spare_part.description else '' }}
    </div>
{% endblock %}
