{% extends 'base.html' %}

{% block title %}
    О компании Auto-Expert.ru
{% endblock %}

{% block content_title %}
    О компании
{% endblock %}

{% block content %}
    <p>
        Интернет-магазин Auto-Expert.ru начал свою работу в 2021 году. С самого начала главной целью было предложить нашим клиентам самый широкий спектр автомобильных запасных частей и аксессуаров, а развитие интернет–технологий дало возможность максимально упростить и ускорить процесс покупки.
    </p>
    <p>
        Компания быстро росла, и сегодня, занимая одну из ведущих позиции на этом рынке, мы не стоим на месте. В основе проекта Auto-Expert.ru: самые современные информационные технологии, собственные программные разработки, накопленная за годы работы аналитическая и статистическая информация по рынку, высококвалифицированный коллектив — мы делаем все для того, чтобы Вы были довольны нашей работой.
    </p>
    <p>
        Сегодня мы предлагаем нашим клиентам:
    </p>
    <p class="rowheader">
        Самую совершенную систему on-line поиска и заказа автозапчастей
    </p>
    <ul>
        <li>Обширный on-line каталог автозапчастей для автомобилей европейских, японских и корейских производителей.</li>
        <li>Возможность поиска интересующих деталей различными способами: запрос по VIN автомобиля, номеру запчасти, иллюстрированному каталогу.</li>
        <li>Получение максимально полной информации о детали — наличие аналогов у различных производителей, применяемости, ценах и сроках поставки.</li>
    </ul>
    <p class="rowheader">
        Огромный ассортимент
    </p>
    <ul>
        <li>В наших прайс-листах более 26 млн наименований оригинальных и неоригинальных зап.частей и аксессуаров от 1200 ведущих мировых производителей.</li>
        <li>Мы первыми на российском рынке представляем продукцию компаний AJUSA, NK, Mapco, Meyle...</li>
        <li>Мы сотрудничаем более чем с 300-ми поставщиками из Европы, ОАЭ, Японии и Белоруссии</li>
        <li>Запчасти для тюнинга и спецавтомобилей.</li>
    </ul>
    <p class="rowheader">
        Персональное обслуживание
    </p>
    <ul>
        <li>Каждый клиент получает персонального менеджера, который отслеживает всю цепочку от размещения заказа до его получения.</li>
        <li>Полностью автоматизированная система клиентского on-line контроля за выполнением заказа: компьютерное управление оплатой/доставкой/отгрузкой заказа Оповещения любым удобным способом: SMS/EMail/через интернет-магазин</li>
        <li>Быстрый документооборот и любая удобная форма оплаты.</li>
    </ul>
    <p class="rowheader">
        Широкую сеть наших представительств по всей России
    </p>
    <ul>
        <li>Офисы в Москве.</li>
        <li>Оптовые отделы.</li>
        <li>Региональные представительства.</li>
        <li>Более 1000 компаний-партнеров от Калининграда до Владивостока.</li>
        <li>Минимальные сроки доставки заказа любым удобным для клиента способом (авто, авиа, ж/д, курьерская доставка) более чем в 200 городов страны.</li>
    </ul>
    <p>
        Работая с нами и нашими партнерами, Вы всегда можете быть уверены в грамотном и вежливом обслуживании, быстроте и точности исполнения заказов, высоком качестве продукции. Мы будем рады видеть Вас среди наших клиентов!
    </p>
    <p>
        С уважением, коллектив команды Auto-Expert.ru.
    </p>
{% endblock %}