{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content_title %}
    Интернет-магазин автозапчастей Auto-Expert.ru
{% endblock %}

{% block content %}
    <div class="card-group">
        {% for category in categories %}
            <div class="card">
                <img src="/static/images/categories/{{ category.slug }}/category.jpg"
                     style="height: 250px"
                     class="card-img-top" alt="{{ category.name }}">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ url_for('category_bp.category_detail', slug=category.slug) }}">{{ category.name }}</a>
                    </h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}